/* added css style */
.header{
    background-color: rgb(111, 101, 250);
    color: white;
    text-align: center;
    padding: 20px 100px;

}
.main-title{
    font-size: 50px;
}
.name{
    color: coral;
}
